@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

// fonts
$font-family: 'Merriweather', serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

body {
  margin: 0;
  padding: 0;
  background: url('./assets/library-low-desat.jpg') no-repeat center fixed;

  header {
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  }

  main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 5rem 0;
    min-height: 100vh;
    width: 80%;
    background: rgba(255, 255, 255, 0.2);
  }

  footer {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

#toast-container > .toast-success {
  background: rgba(0, 255, 0, 0.5);
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  padding: 1rem;
  margin-top: 5rem;
}
