<div class="container">
  <div class="row" *ngIf="hotBooks">
    <h2>Top Rated Books</h2>
    <div class="col-1"></div>
    <div class="col-2" *ngIf='hotBooks[0]'>
        <a [routerLink]="['../', 'books', hotBooks[0].id, 'details']">
          <img src="{{hotBooks[0].coverURL}}">
        </a>
      <h6>Rating: {{hotBooks[0].avgRating}}</h6>
    </div>
    <div class="col-2" *ngIf='hotBooks[1]'>
        <a [routerLink]="['../', 'books', hotBooks[1].id, 'details']">
          <img src="{{hotBooks[1].coverURL}}">
        </a>
      <h6>Rating: {{hotBooks[1].avgRating}}</h6>
    </div>
    <div class="col-2" *ngIf='hotBooks[2]'>
        <a [routerLink]="['../', 'books', hotBooks[2].id, 'details']">
          <img src="{{hotBooks[2].coverURL}}">
        </a>
      <h6>Rating: {{hotBooks[2].avgRating}}</h6>
    </div>
    <div class="col-2" *ngIf='hotBooks[3]'>
        <a [routerLink]="['../', 'books', hotBooks[3].id, 'details']">
          <img src="{{hotBooks[3].coverURL}}">
        </a>
      <h6>Rating: {{hotBooks[3].avgRating}}</h6>
    </div>
    <div class="col-2" *ngIf='hotBooks[4]'>
        <a [routerLink]="['../', 'books', hotBooks[4].id, 'details']">
          <img src="{{hotBooks[4].coverURL}}">
        </a>
      <h6>Rating: {{hotBooks[4].avgRating}}</h6>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row" *ngIf="newBooks">
    <h2>New Books</h2>
    <div class="col-1"></div>
    <div class="col-2" *ngIf='newBooks[0]'>
      <a [routerLink]="['../', 'books', newBooks[0].id, 'details']">
        <img src="{{newBooks[0].coverURL}}">
      </a>
      <h6>Rating: {{newBooks[0].avgRating}}</h6>
    </div>
    <div class="col-2" *ngIf='newBooks[1]'>
        <a [routerLink]="['../', 'books', newBooks[1].id, 'details']">
          <img src="{{newBooks[1].coverURL}}">
        </a>
      <h6>Rating: {{newBooks[1].avgRating}}</h6>
    </div>
    <div class="col-2" *ngIf='newBooks[2]'>
        <a [routerLink]="['../', 'books', newBooks[2].id, 'details']">
          <img src="{{newBooks[2].coverURL}}">
        </a>
      <h6>Rating: {{newBooks[2].avgRating}}</h6>
    </div>
    <div class="col-2" *ngIf='newBooks[3]'>
        <a [routerLink]="['../', 'books', newBooks[3].id, 'details']">
          <img src="{{newBooks[3].coverURL}}">
        </a>
      <h6>Rating: {{newBooks[3].avgRating}}</h6>
    </div>
    <div class="col-2" *ngIf='newBooks[4]'>
        <a [routerLink]="['../', 'books', newBooks[4].id, 'details']">
          <img src="{{newBooks[4].coverURL}}">
        </a>
      <h6>Rating: {{newBooks[4].avgRating}}</h6>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
        <h2>Editor's Choice</h2>
        <div class="col-2">
            <a [routerLink]="['../', 'books', randBook.id, 'details']">
              <img src="{{randBook.coverURL}}">
            </a>
        </div>
        <div class="col-10">
          <h5>{{randBook.title}}</h5>
          <h6>by {{randBook.author.name}}</h6>
          <p>{{ (randBook.description.length>200)? (randBook.description | slice:0:200)+'...':(randBook.description) }}</p>
        </div>
  </div>
</div>