<div class="container" *ngIf='book'>
  <div class="row">
    <div class="col-3">
      <img src={{book.coverURL}}>
      <!-- <img src={{book.authorImg}}> -->
      <button *ngIf="!this.book.borrower || this.book.borrower.id !== this.loggedUserData.id" mat-raised-button
        class="borrow" [disabled]="this.book.status === 'Borrowed'" (click)="borrowBook()">Borrow</button>
      <button *ngIf="this.book.borrower && this.book.borrower.id === this.loggedUserData.id" mat-raised-button
        class="return" (click)="returnBook()">Return</button>

        <mat-form-field>
            <mat-label>Your Rate</mat-label>
            <mat-select [(value)]="this.rate" (valueChange)="this.rateBook()" disableOptionCentering>
              <mat-option value="5">Excellent</mat-option>
              <mat-option value="4">Good</mat-option>
              <mat-option value="3">Average</mat-option>
              <mat-option value="2">Poor</mat-option>
              <mat-option value="1">Very Poor</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-9">
      <h3>
        {{book.title}}
      </h3>
      <p class="author">
         by {{book.author.name}}
      </p>
      <p class = "rating">Rating: {{book.avgRating}}</p>
      <p class="description">
        {{book.description}}
      </p>
    </div>

    <div class="reviews">
      <mat-form-field class="row">
        <textarea [(ngModel)]="this.reviewContent" matInput placeholder="Write your review..."></textarea>
        <div class="review-actions">
          <button mat-raised-button (click)="addReview()">Add Review</button>
          <button mat-raised-button>Cancel</button>
        </div>
      </mat-form-field>

      <app-reviews [reviews]="this.reviews" (reviewDelete)="this.deleteReview($event)"
        (reviewLike)="this.likeReview($event)" (reviewDislike)="this.dislikeReview($event)"></app-reviews>

    </div>
  </div>


</div>