.container {
  width: 70%;
}

.col-9 {
  margin-left: 2rem;
}

.col-3 {
  padding: 0.5rem;
}

.reviews {
  padding: 1rem;

  mat-form-field {
    width: 90%;
    padding: 1rem;
    margin: 2rem;
    textarea {
      padding: 1rem;
    }
  }

  .review-actions {
    text-align: right;

    button {
      margin-left: 1rem;
      font-size: 1em;
    }
  }
}

.description {
  font-size: 0.9em;
}

.rating {
  font-size: 0.8em;
  margin: 0.3em;
}

.author {
  font-size: 1em;
  margin: 0.3em;
}

.borrow {
  width: 80%;
  color: #fff;
  background: rgb(3, 95, 3);
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.return {
  width: 80%;
  color: #fff;
  background: rgb(231, 148, 70);
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field {
  width: 100%;
}

img {
  height: 10em;
  max-width: 7em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  box-shadow: 0.2rem 0.2rem 0.1rem grey;
}

h5 {
  padding: 0 1em;
  font-weight: normal;
}

.description {
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
  border-radius: 0.3rem;
  padding: 1em;
}

h3 {
  margin: 0.3em;
  text-align: left;
}

mat-form-field {
  //padding: 0 1em;
  width: 80%;
  margin: 1em;
}