<mat-card *ngIf="this.loggedUserData">
  <mat-card-header>
    <div class="user-avatar">
      <img mat-card-image src="{{this.loggedUserData.avatarUrl}}" alt="User Avatar">
    </div>
    <div class="user-info">
      <p>{{this.loggedUserData.username}}</p>
      <label for="avatar">Upload picture</label>
      <input id="avatar" type="file" (change)="this.uploadAvatar($event)" />
    </div>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="this.editForm" (ngSubmit)="update()">
      <mat-form-field>
        <input formControlName="username" matInput placeholder="Enter your current username.">
      </mat-form-field>
      <mat-error
        *ngIf="!!this.editForm.controls.username.touched && !!this.editForm.controls.username.errors?.required">
        The username is required!
      </mat-error>


      <mat-form-field>
        <input formControlName="password" matInput placeholder="Enter your current password.">
      </mat-form-field>
      <mat-error
        *ngIf="!!this.editForm.controls.password.touched && !!this.editForm.controls.password.errors?.required">
        The password is required!
      </mat-error>

      <mat-form-field>
        <input formControlName="newUsername" matInput placeholder="Enter your new username (optional)">
      </mat-form-field>

      <mat-form-field>
        <input formControlName="password" matInput placeholder="Enter your new password (optional)">
      </mat-form-field>

      <div>
        <button [disabled]="!this.editForm.valid" mat-raised-button type="submit">
          Save
        </button>
        <button mat-raised-button (click)="reset()">
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>