<form [formGroup]="this.createUserForm" (ngSubmit)="createUser()">
  <mat-form-field>
    <input formControlName="username" matInput placeholder="Username...">
  </mat-form-field>
  <mat-error
    *ngIf="!!this.createUserForm.controls.username.touched && !!this.createUserForm.controls.username.errors?.required">
    The username is required!
  </mat-error>


  <mat-form-field>
    <input formControlName="password" matInput placeholder="Password...">
  </mat-form-field>
  <mat-error
    *ngIf="!!this.createUserForm.controls.password.touched && !!this.createUserForm.controls.password.errors?.required">
    The password is required!
  </mat-error>

  <button [disabled]="!this.createUserForm.valid" mat-raised-button type="submit">
    CREATE
  </button>
</form>