<form [formGroup]="this.createReviewForm" (ngSubmit)="createReview()">
  <mat-form-field>
    <input formControlName="bookId" matInput placeholder="Book ID...">
  </mat-form-field>
  <mat-error
    *ngIf="!!this.createReviewForm.controls.bookId.touched && !!this.createReviewForm.controls.bookId.errors?.required">
    The book ID is required!
  </mat-error>

  <mat-form-field>
    <textarea formControlName="content" matInput placeholder="Content..."></textarea>
  </mat-form-field>
  <mat-error
    *ngIf="!!this.createReviewForm.controls.content.touched && !!this.createReviewForm.controls.content.errors?.required">
    The content is required!
  </mat-error>

  <button [disabled]="!this.createReviewForm.valid" mat-raised-button type="submit">
    CREATE
  </button>
</form>