form {
  background: rgba(255, 255, 255, 0.9);
  color: #fff;
  font-size: 1em;
  padding: 1rem;
  border-radius: 0.3em;
  box-shadow: 0 0 0.5em rgba(63, 81, 181, 1);

  mat-form-field {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    input,
    textarea {
      font-size: 1.2em;
      color: #3f51b5;
      font-weight: bold;
    }
  }

  button {
    width: 100%;
    color: #fff;
    font-size: 1em;
    background: #000;
    box-shadow: 0 0 0.2em rgba(63, 81, 181, 1);
  }
}
