<div class="data-container">
  <mat-tab-group>

    <mat-tab label="USERS">
      <mat-tab-group>
        <mat-tab label="ALL">
          <app-user-actions-list [users]="this.users" (updateBanStatus)="this.updateUserBanStatus($event)"
            (delete)="this.deleteUser($event)"></app-user-actions-list>
        </mat-tab>
        <mat-tab label="CREATE">
          <app-create-user (create)="createUser($event)"></app-create-user>
        </mat-tab>
        <mat-tab label="UPDATE">
          <app-update-user></app-update-user>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="BOOKS">
      <mat-tab-group>
        <mat-tab label="ALL">
          <app-book-actions-list [books]=this.books></app-book-actions-list>
        </mat-tab>
        <mat-tab label="PENDING">
          <app-pending-books [pendingBooks]="this.pendingBooks" (bookDecline)="declineBook($event)" (bookApprove)="approveBook($event)"></app-pending-books>
        </mat-tab>
        <mat-tab label="CREATE">
          <app-create-book></app-create-book>
        </mat-tab>
        <mat-tab label="UPDATE">
          <app-update-book></app-update-book>
        </mat-tab>
        <mat-tab label="EDITOR'S CHOICE">
          <app-update-book></app-update-book>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="REVIEWS">
      <mat-tab-group>
        <mat-tab label="ALL">
        </mat-tab>
        <mat-tab label="CREATE">
          <app-create-review></app-create-review>
        </mat-tab>
        <mat-tab label="UPDATE">
          <app-update-review></app-update-review>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>