<form [formGroup]="this.createBookForm" (ngSubmit)="this.createBook()">
  <mat-form-field>
    <input formControlName="title" matInput placeholder="Title...">
  </mat-form-field>
  <mat-error
    *ngIf="!!this.createBookForm.controls.title.touched && !!this.createBookForm.controls.title.errors?.required">
    The title is required!
  </mat-error>

  <mat-form-field>
    <input formControlName="ISBN" matInput placeholder="ISBN...">
  </mat-form-field>
  <mat-error
    *ngIf="!!this.createBookForm.controls.ISBN.touched && !!this.createBookForm.controls.ISBN.errors?.required">
    The ISBN is required!
  </mat-error>

  <mat-form-field>
    <input formControlName="status" matInput placeholder="Status...">
  </mat-form-field>
  <mat-error
    *ngIf="!!this.createBookForm.controls.status.touched && !!this.createBookForm.controls.status.errors?.required">
    The Status is required!
  </mat-error>

  <mat-form-field>
    <input formControlName="authorName" matInput placeholder="Author...">
  </mat-form-field>
  <mat-error
    *ngIf="!!this.createBookForm.controls.authorName.touched && !!this.createBookForm.controls.authorName.errors?.required">
    The Author is required!
  </mat-error>

  <button [disabled]="!this.createBookForm.valid" mat-raised-button type="submit">
    CREATE
  </button>
</form>