<mat-toolbar>
  <mat-toolbar-row>
    <div>
      <button mat-button [routerLink]="['home']">Home</button>
      <button mat-button [routerLink]="['books']">Books</button>
      <!-- <button mat-button [routerLink]="['authors']">Authors</button> -->
    </div>

    <div>
      <div *ngIf="!this.loggedUserData">
        <button mat-button [routerLink]="['login']">Login</button>
        <button mat-button [routerLink]="['register']">Register</button>
      </div>


      <div *ngIf="this.loggedUserData">
        <button mat-button [matMenuTriggerFor]="menu">{{this.loggedUserData.username}}

          <img class="user-avatar" src="{{this.loggedUserData.avatarUrl}}" alt="">

        </button>

        <mat-menu #menu="matMenu" xPosition="before">
          <button *ngIf="this.loggedUserData.role === 'Admin'" mat-menu-item [routerLink]="['admin']"> Admin </button>
          <button mat-menu-item [routerLink]="['users', this.loggedUserData.id]"> Profile </button>
          <button mat-menu-item [routerLink]="['users','me', 'edit']"> Settings </button>
          <button mat-menu-item (click)="logout()"> Logout </button>
        </mat-menu>
      </div>


    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-list-item>
    <h3 matLine>ID: {{user.id}}</h3>
    <img matListAvatar src="{{user.avatarUrl}}" alt="user avatar">
    <h3 matLine> {{user.username}}
    </h3>
    <button mat-button class="ban" (click)="this.updateUserBanStatus()">{{!this.user.isBanned ? 'Ban':'Unban'}}</button>
    <button mat-button class="delete" (click)="this.deleteUser()">Delete</button>
  </mat-list-item> -->