
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

// fonts
$font-family: 'Merriweather', serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

mat-toolbar {
  background: inherit;

  mat-toolbar-row {
    display: flex;
    justify-content: space-between;

    button {
      $font-family: 'Merriweather', serif;
      font-size: 1.2em;
      color: #fff;
    }
  }
}

mat-menu {
  margin-top: 10rem;
}

.user-avatar {
  width: 50px;
  margin: 0.5rem 0;
  border-radius: 0.2em;
}
