<form [formGroup]="this.registerForm" (ngSubmit)="register()">
  <mat-form-field>
    <input formControlName="username" matInput placeholder="username (2-20 chars)">
  </mat-form-field>
  <mat-error *ngIf="!!this.registerForm.controls.username.touched && !!this.registerForm.controls.username.errors?.required">
    The username is required!
  </mat-error>


  <mat-form-field>
    <input formControlName="password" matInput placeholder="password (8-20 chars)">
  </mat-form-field>
  <mat-error *ngIf="!!this.registerForm.controls.password.touched && !!this.registerForm.controls.password.errors?.required">
    The password is required!
  </mat-error>

  <button [disabled]="!this.registerForm.valid" mat-raised-button type="submit">
    Register
  </button>
</form>