<mat-list *ngFor="let user of this.currentPage">
  <app-user-actions 
  [user]="user" 
  (updateBanStatus)="updateUserBanStatus($event)"
  (delete)="deleteUser($event)"
  ></app-user-actions>
</mat-list>

<mat-paginator [pageIndex]="pageIndex" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = updatePage($event)">
</mat-paginator>