<header>
  <app-header></app-header>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <app-footer></app-footer>
</footer>
<ngx-spinner bdColor="rgba(0,0,0,0.4)" size="medium" color="#3f51b5" type="ball-spin-fade-rotating">
</ngx-spinner>