<form [formGroup]="this.loginForm" (ngSubmit)="this.login()">
  <mat-form-field>
    <input formControlName="username" matInput placeholder="Username...">
  </mat-form-field>
  <mat-error *ngIf="!!this.loginForm.controls.username.touched && !!this.loginForm.controls.username.errors?.required">
    The username is required!
  </mat-error>

  <mat-form-field>
    <input type="password" formControlName="password" matInput placeholder="Password...">
  </mat-form-field>
  <mat-error *ngIf="!!this.loginForm.controls.password.touched && !!this.loginForm.controls.password.errors?.required">
    The password is required!
  </mat-error>

  <button [disabled]="!this.loginForm.valid" mat-raised-button type="submit">
    Login
  </button>

  <p>
    <a [routerLink]="['/register']">Create Account</a>
  </p>
</form>