mat-paginator{
  border-radius: 0.4em;
  color: #3f51b5;
  font-weight: bold;
  font-size: 1em;
  background: rgba(255, 248, 248, 0);
}

input {
  width: 15em;
}

.col-3 {
  padding: 1.2em;
}

.container{
  width: 60vw;
}