<div class="container" class="upper">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <input (keyup)="onKey($event)" placeholder="Search">
        </div>
        <div class="col-8">
            <mat-paginator [pageIndex]="pageIndex" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = updatePage($event)">
            </mat-paginator>            
        </div>
    </div>
</div>


<div class="container" *ngFor="let book of this.books | slice:this.start:this.end">
    <app-book [book]="book" [loggedUserData]="this.loggedUserData" (bookBorrow)="this.borrowBook($event)"
        (bookReturn)="this.returnBook($event)">
    </app-book>
</div>