<div class="container">
    <div class="row">
        <h2>Books Ready for Upload:</h2>
        <div class="col-5">
            <h4>Title:</h4>
        </div>
        <div class="col-7">
            <h4>ISBN:</h4>
        </div>
    </div>
</div>
<div class="container" *ngFor="let book of pendingBooks; let i=index, let even=even, let odd=odd"
    [ngClass]="{ odd: odd, even: even, isGo: book.isGo, noGo: book.noGo, show: book.show, disabled: book.disabled }">
    <div class="row">
        <div class="col-5">
            {{i}}. {{ (book.title.length>15)? (book.title | slice:0:15)+'...':(book.title) }}
        </div>
        <div class="col-3">
            {{book.ISBN}}
        </div>
        <div class="col-3">
            <div *ngIf="!book.disabled">
                <button (click)="this.approveBook(book); book.isGo=true; book.show=true; book.disabled=true">Accept</button>
                <button (click)="declineBook(book); book.noGo=true; book.show=true; book.disabled=true">X</button>
            </div>
        </div>
        <div class="col-1">
            <img src="../../../assets/error-http-404-icon-red-cross-mark-png-file.jpg" class="red"
                *ngIf="book.noGo && book.show">
            <img src="../../../assets/GREEN-TICK.png" class="green" *ngIf="book.isGo && book.show">
        </div>
    </div>
</div>