mat-list-item {
  background: #000;
  box-shadow:  0 0 0.5em rgba(63, 81, 181, 1);
}

h3 {
  color: #fff;
}


.ban{
  color: #0ff;
  box-shadow: 0 0 0 0.1em rgba(0, 255, 255, 1);
  margin: 0.5rem;
}

.delete {
  color: #f00;
  box-shadow: 0 0 0 0.1em rgba(255, 0, 0, 1);
  margin: 0.5rem;
}
