<mat-list-item>
  <h3 matLine>ID: {{user.id}}</h3>
  <img matListAvatar src="{{user.avatarUrl}}" alt="user avatar">
  <h3 matLine> {{user.username}}
  </h3>
  <button mat-button class="ban" (click)="this.updateUserBanStatus()">{{!this.user.isBanned ? 'Ban':'Unban'}}</button>
  <button mat-button class="delete" (click)="this.deleteUser()">Delete</button>
</mat-list-item>