<div class="container">
  <app-review *ngFor="let review of this.reviews" [review]="review" (reviewDelete)="this.deleteReview($event)"
    (reviewLike)="likeReview($event)" (reviewDislike)="dislikeReview($event)"></app-review>
</div>