<div class="row" *ngIf="this.book">
    <div class="col-2">
        <img src={{book.coverURL}}>
    </div>
    <div class="col-7 book-info">
        <a [routerLink]="[book.id, 'details']">
            <h3>
                {{ (book.title.length>30)? (book.title | slice:0:30)+'...':(book.title) }}
            </h3>
        </a>
        <h5 *ngIf="book.author">
            by {{book.author.name}}
        </h5>
        <h5>
            Status: <span [ngClass]="{'borrowed': this.book.status === 'Borrowed', 'free': this.book.status === 'Free'}">{{book.status}}</span>
        </h5>
        <h6>
            ISBN: {{book.ISBN}}
        </h6>
    </div>
    <div class="col-3">
        <h3>
            Rating: {{book.avgRating}}
        </h3>
        <h5>
            Reviewed by: ___ readers
        </h5>

        <button *ngIf="!this.book.borrower || this.book.borrower.id !== this.loggedUserData.id" mat-raised-button class="borrow" [disabled]="this.book.status === 'Borrowed'" (click)="borrowBook()">Borrow</button>
        <button *ngIf="this.book.borrower && this.book.borrower.id === this.loggedUserData.id" mat-raised-button class="return" (click)="returnBook()">Return</button>
    </div>
</div>