.col-2, .col-7  {  
  height: 8.5rem;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
  border-radius: 0.3rem;
}


.col-3, .col-7 {
  padding: 0 0.9rem;
}

img {
  max-height: 8em;
  max-width: 6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  box-shadow: 0.2rem 0.2rem 0.1rem grey;
}

.borrow {
  width: 80%;
  color: #fff;
  background: rgb(3, 95, 3);
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.return {
  width: 80%;
  color: #fff;
  background: rgb(231, 148, 70);
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.free {
  color: #0f0;
  font-weight: bold;
}

.borrowed {
  color: #f00;
  font-weight: bold;
}
