<mat-list *ngFor="let book of this.currentPage">
  <app-book-actions [book]="book"></app-book-actions>
</mat-list>

<mat-paginator [pageIndex]="pageIndex" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = updatePage($event)">
</mat-paginator>