.review {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0.1em rgba(63, 81, 181, 1);
  padding: 1rem;
  margin: 1rem 0;

  .content {
    display: flex;
    justify-content: space-between;
    width: 75%;

    p {
      padding: 0 1rem;
      width: 60%;
      overflow-wrap: break-word;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .edit {
      margin-top: 0.5rem;
      width: 100%;
      color: #3f51b5;
    }

    .delete {
      margin-top: 0.5rem;
      width: 100%;
      color: #f00;
    }

    .flag {
      width: 100%;
      // color: #f00;
      font-size: 1.6em;
      text-align: right;
    }

    .like {
      width: 100%;
    }

    .dislike {
      margin-top: 0.5rem;
      width: 100%;
    }
  }

  .user {
    box-shadow: 0 0 0.1em rgba(63, 81, 181, 1);
    border-radius: 0.2em;
    padding: 0.5rem;
    width: 150px;

    p {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    img {
      width: 100%;
      border-radius: 0.2em;
    }
  }
}

.liked {
  background: #3f51b5;
  font-weight: bold;
  color: #fff;
}

.disliked {
  background: #b33c12;
  font-weight: bold;
  color: #fff;
}
