<div class="review">
  <div *ngIf="this.review.user" class="user">

    <img src="{{review.user.avatarUrl}}">
    <p>
      {{this.review.user.username}}
    </p>
    <div class="actions" *ngIf="this.review.isOwn">
      <button mat-raised-button class="edit">
        edit your review
      </button>
      <button mat-raised-button class="delete" (click)="this.deleteReview()">
        delete your review
      </button>
    </div>
  </div>
  <!-- <div *ngIf="this.review.book" class="col-2">
    <h5>
      {{this.review.book.title}}
    </h5>
    <img src="{{review.book.coverURL}}">
  </div> -->
  <div class="content">
    <p>{{review.content}}</p>
    <div class="actions">
      <div>
        <button mat-button class="flag">
          <i class="material-icons flag">
            flag
          </i>
        </button>
      </div>

      <div>
        <div>
          Likes: {{this.review.likes}}
        </div>
        <div>
          Dislikes: {{this.review.dislikes}}
        </div>
        <button mat-raised-button class="like" (click)="likeReview()"
          [ngClass]="{liked: this.review.loggedUserVote?this.review.loggedUserVote.like:false }">
          LIKE
        </button>
        <button mat-raised-button class="dislike" (click)="dislikeReview()"
          [ngClass]="{disliked:  this.review.loggedUserVote?this.review.loggedUserVote.dislike:false }">
          DISLIKE
        </button>
      </div>
    </div>
  </div>

</div>