<mat-list-item>
  <img matListAvatar src="{{book.coverURL}}" alt="book cover">
  <h3 matLine> ID: {{book.id}} </h3>
  <h3 matLine> {{book.title}} </h3>
  <button mat-button class="edit">Edit</button>
  <button mat-button class="unlist">Unlist</button>
  <button mat-button class="delete">Delete</button>
</mat-list-item>