mat-card {
  background: rgba(255, 255, 255, 0.95);
  width: 40vw;
  margin: 0 auto;

  mat-card-header {
    display: flex;
    justify-content: center;
    padding: 1rem;

    .user-avatar {
      width: 40%;
      img {
        width: 100%;
        border-radius: 0.2em;
        box-shadow: 0 0 0.2em rgba(63, 81, 181, 1);
      }
    }

    .user-info {
      width: 35%;

      p {
        color: #3f51b5;
        text-shadow: 0 0 1px #000;
        text-align: center;
        border-bottom: 0.05em solid #3f51b5;
      }
    }
  }

  mat-tab-group {
    display: flex;
    align-items: center;
  }
}

.return {
  width: 40%;
  font-weight: bold;
  font-size: 1em;
}

mat-list {
  width: 500px;

  a{
    color: #3f51b5;
    font-weight: bold;
    text-decoration: none;
  }

  button {
    margin-left: 1rem;
  }
}
