<mat-card>
  <mat-card-header>
    <div class="user-avatar">
      <img mat-card-image src="{{user.avatarUrl}}" alt="User Avatar">
    </div>
    <div class="user-info">
      <p>{{user.username}} ({{user.role}})</p>
      <p>karma points: {{user.karmaPoints}}</p>
      <p>reading points: {{user.readingPoints}}</p>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="READ ({{this.readBooks.length}})">
        <mat-list *ngFor="let book of this.readBooks">
          <mat-list-item>
            <img matListAvatar src="{{book.coverURL}}" alt="book cover">
            <a matLine [routerLink]="['/books',book.id,'details']" routerLinkActive="active"> {{book.title}} </a>
          </mat-list-item>
        </mat-list>

      </mat-tab>
      <mat-tab label="CURRENTLY READING‎ ({{this.borrowedBooks.length}})">
        <mat-list *ngFor="let book of this.borrowedBooks">
          <mat-list-item>
            <img matListAvatar src="{{book.coverURL}}" alt="book cover">
            <a matLine [routerLink]="['/books',book.id,'details']"> {{book.title}} </a>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="REVIEWS ({{this.reviews.length}})">
        <mat-list *ngFor="let review of this.reviews">
          <mat-list-item>
            <img matListAvatar src="{{review.book.coverURL}}" alt="book cover">
            <a matLine [routerLink]="['/books', review.book.id,'details']"> {{review.book.title}} </a>
            <p matLine> {{review.content}} </p>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>